name: Deploy Google Apps Script

on:
  push:
    branches:
      - main # mainブランチへのプッシュで実行
  workflow_dispatch: # 手動実行を許可

jobs:
  deploy-ikensho-form:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Install clasp
      run: npm install -g @google/clasp
    - name: Authenticate clasp
      env:
        GAS_CLASPRC_JSON: ${{ secrets.GAS_CLASPRC_JSON }}
      run: echo "$GAS_CLASPRC_JSON" > ~/.clasprc.json
    - name: Deploy Ikensho Form Project
      run: |
        cd ikensho_form_gas_project
        clasp push
